<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <div class="logo-container">
    <img class="dd-logo" src="../assets/logo.png">
  </div>
  <h1>Welcome to the Deloitte Digital FED exercise</h1>
  <p>You can view the instructions in the <code>README.md</code> file</p>
  <p>Remember to write any assumptions in an <code>ASSUMPTIONS.md</code> file</p>
  <p class="warning">Please overwrite the code for this page, we do not expect you to handle any routing in this test</p>
</div>

